<div class="container">
  <mat-card class="info">
    <mat-card-content
      (click)="openLink('https://maps.app.goo.gl/wU3xnTjkF98vXDuS9')"
    >
      <mat-icon>location_on</mat-icon>
      <section class="contact-item">
        <h6>Escritório</h6>
        <p>Av. Pedro Baião, 1720</p>
        <p>Santa Rita, Macapá - AP, 68900-116</p>
      </section>
    </mat-card-content>
    <mat-card-content (click)="openLink('mailto:previtucuju@gmail.com')">
      <mat-icon>email</mat-icon>
      <section class="contact-item">
        <h6>Email</h6>
        <p>previtucuju&#64;gmail.com</p>
      </section>
    </mat-card-content>
    <mat-card-content (click)="openLink('tel:+5596984118827')">
      <mat-icon>phone</mat-icon>
      <section class="contact-item">
        <h6>Telefone</h6>
        <p>(96) 98411-8827</p>
      </section>
    </mat-card-content>
  </mat-card>

  <mat-card
    class="info"
    (click)="openLink('https://maps.app.goo.gl/wU3xnTjkF98vXDuS9')"
  >
    <iframe
      title="map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31918.546082027595!2d-51.09996834602336!3d0.009943999357307864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8d61e1003fcbd4c5%3A0x2c8758b113c9aadb!2sTucuju%20Previ!5e0!3m2!1spt-BR!2sbr!4v1723211983114!5m2!1spt-BR!2sbr"
      style="margin: auto; width: 100%"
      width="auto"
      height="100%"
      loading="lazy"
    ></iframe>
  </mat-card>
</div>
<a
  class="whatsapp-button"
  href="https://wa.me/5596984118827/?text=Quero%20falar%20com%20um%20especialista"
  target="_blank"
>
  <button>
    Quero falar com um especialista
    <img src="whatsapp2.png" class="whatsapp-icon" alt="WhatsApp Logo" />
  </button>
</a>
