/*
* Token de Cores
* 1 - Insira os tokens de cores aqui
* 2 - Importe esse arquivo no _index.scss da pasta de tokens
*/

// Todas as cores do projeto
$color-primary: #800f0f;
$color-secondary: #efc067;
$color-bg-cards: #cedeb6;
$color-button-primary-bg: #eb371c;
$color-button-primary-text: #090c02;
$color-button-secondary-bg: transparent;
$color-button-secondary-border: #666a7b;
$color-button-secondary-text: #000000;
