<mat-card class="box-style">
  <mat-card-content>
    <p>
      Bem-vindo à TucujuPrevi, um escritório de advocacia referência em direito
      previdenciário. Com uma equipe de advogados experientes e dedicados, nossa
      missão é garantir que cada cliente tenha acesso aos seus direitos
      previdenciários de maneira justa e eficiente.
    </p>
    <p>
      Desde a nossa fundação, temos trabalhado incansavelmente para oferecer
      soluções jurídicas personalizadas, sempre com foco na transparência, ética
      e excelência. Atuamos em todas as áreas do direito previdenciário,
      incluindo aposentadorias, benefícios por incapacidade, pensões e revisão
      de benefícios.
    </p>
    <p>
      Nossa abordagem é centrada no cliente, garantindo um atendimento
      humanizado e atencioso. Acreditamos que cada caso é único e merece uma
      análise detalhada para assegurar o melhor resultado possível.
    </p>
    <p>
      Por isso, investimos continuamente na qualificação de nossa equipe e na
      atualização de nossos conhecimentos, para estarmos sempre alinhados com as
      mudanças na legislação e nas melhores práticas do mercado.
    </p>
    <p>
      Se você está enfrentando desafios relacionados aos seus direitos
      previdenciários ou precisa de orientação jurídica especializada, estamos
      aqui para ajudar. Nossa equipe está pronta para oferecer o suporte
      necessário e lutar pelos seus direitos com comprometimento e determinação.
    </p>
  </mat-card-content>
</mat-card>

<a
  class="whatsapp-button"
  href="https://wa.me/5596984118827/?text=Quero%20falar%20com%20um%20especialista"
  target="_blank"
>
  <button>
    Quero falar com um especialista
    <img src="whatsapp2.png" class="whatsapp-icon" alt="WhatsApp Logo" />
  </button>
</a>
