@import 'src/scss/_global.scss';

mat-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: auto;
  max-width: 1200px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.425);
  border-radius: 1px;
}
mat-card-content p {
  margin: 0 auto;
  text-align: justify;

  font-weight: $font-weight-regular;
  font-size: $font-size-h3;
  color: $color-secondary;
  margin-bottom: 15px;
}

.whatsapp-button {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding-bottom: 220px;
}
.whatsapp-button button {
  display: flex;
  align-items: center;
  background-color: $color-button-primary-text;
  color: white;
  border: none;
  border-radius: 1px;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.whatsapp-button button:hover {
  background-color: $color-button-secondary-border;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.whatsapp-icon {
  width: 20px;
  height: 20px;
  margin-left: 30px;
  transition: transform 0.4s ease-in-out;
}

.whatsapp-button button:hover .whatsapp-icon {
  transform: scale(2.1);
}

@media screen and (min-width: 344px) and (max-width: 375px) {
  mat-card {
    margin: 30px;
  }
  mat-card-content p {
    padding: 10px;
    font-size: 1rem;
  }
}
@media screen and (min-width: 376px) and (max-width: 728px) {
  mat-card {
    margin: 30px;
  }
  mat-card-content p {
    padding: 10px;
    font-size: 1rem;
  }
}
