<mat-toolbar color="primary" class="nav-main">
  <div class="logo">Sua logo aqui</div>
  <mat-toolbar-row>
    <button mat-button routerLink="/home">Início</button>
    <button mat-button routerLink="/contact">Quem Somos</button>
    <button mat-button routerLink="/about">Beneficios INSS</button>
    <button mat-button routerLink="/about">Direito Trabalhista</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="wpp-content">
  <h5>Precisa de ajuda para obter algum beneficio do INSS ?</h5>
  <button class="btn-wpp">
    Fale conosco agora<img src="whatsapp.png" alt="whatsapp" />
  </button>
</div>
<mat-card class="mat-elevation-z4">
  <img class="img-header" src="previdencia.jpg" alt="" />
</mat-card>

<button class="btn-float">
  <img src="whatsapp.png" alt="" />
</button>
