<article class="main-image">
  <section class="logo-container">
    <img src="INSS.png" class="logo" alt="" />
  </section>
  <section class="btn-nav">
    <button mat-button routerLink="/home">Início</button>
    <button mat-button routerLink="/about" (click)="scrollToSection()">
      Direito Previdenciário
    </button>
    <button mat-button routerLink="/contact">Quem Somos</button>
  </section>
</article>
<section class="content">
  <div class="overlay">
    <h1>Consultoria Especializada em Direito Previdenciário</h1>
    <ul>
      <li>Garanta sua aposentadoria com nossos especialistas.</li>
      <li>Suporte jurídico especializado em auxílio-doença BPC-LOAS</li>
      <li>
        Proteção precisa e eficaz para todas as suas questões previdenciárias.
      </li>
      <li>
        Faça contagem/cálculos e saiba quanto tempo possui e quais valores
        quando pedir a sua aposentadoria.
      </li>
    </ul>
  </div>
  <a
    class="whatsapp-button"
    href="https://wa.me/seu_numero_de_telefone/?text=Quero%20falar%20com%20um%20especialista"
    target="_blank"
  >
    <button>
      Quero falar com um especialista
      <img src="whatsapp2.png" class="whatsapp-icon" alt="WhatsApp Logo" />
    </button>
  </a>
</section>
<a
  href="https://wa.me/seu_numero_de_telefone/?text=Quero%20falar%20com%20um%20especialista"
  class="btn-float"
  target="_blank"
>
  <img src="whatsapp.png" alt="icone whatsapp" />
</a>
