@import 'src/scss/_global.scss';

article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: $color-secondary;
  width: 100%;
  box-sizing: border-box;
  position: relative; /* Para conter os elementos filhos com position: absolute */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 40px;
}

.btn-nav {
  display: flex;
  gap: 10px;

  button {
    color: white;
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    &:hover {
      background-color: $color-button-secondary-border;
    }
  }
}

.main-image {
  position: relative;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(230deg, rgba(155, 126, 96, 0), #000000),
    url('public/main-image.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  position: absolute; /* Para posicionar o texto sobre a imagem */
  top: 30%; /* Alinhar verticalmente ao centro */
  left: 5%;

  text-align: center;
  color: $color-bg-cards;
}

.overlay {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fundo escuro translúcido para melhorar a legibilidade */
  padding: 20px;
  border-radius: 10px;
}

.overlay h1 {
  @include headline-1-style;
  color: white;
}

.overlay ul {
  width: 700px;
  list-style: none;
  padding: 0;
}

.overlay li {
  text-align: left;
  @include body-l-style;
  color: white;
}

.whatsapp-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #29a719;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 50px;

  &:hover {
    background-color: #248b17;
  }

  img {
    width: 35px;
    height: 35px;
    margin-left: 10px;
  }

  button {
    all: unset; /* Remove os estilos padrão do botão */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.btn-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
  background-color: $color-button-secondary-bg;

  img {
    width: 75px;
    height: 75px;
  }
}
