@import 'src/scss/_global.scss';
main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  width: 50px;
  height: 40px;
  margin: 10px 10px;
}
.btn-float {
  > img {
    width: 75px;
    height: 75px;
  }
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  border: none;
  cursor: pointer;
  background-color: $color-button-secondary-bg;
}
