<main class="container p-10px">
  <article class="main">
    <img
      [src]="mainNews.imageUrl"
      [alt]="mainNews.altText"
      class="main-image"
    />

    <section>
      <h2>{{ mainNews.title }}</h2>
      <p>{{ mainNews.content }}</p>
    </section>
  </article>
  <aside class="side">
    @for (news of sideNews; track $index) {
      <section>
        <img [src]="news.imageUrl" [alt]="news.altText" class="side-image" />
        <h3>{{ news.title }}</h3>
        <p>{{ news.content }}</p>
      </section>
    }
  </aside>
</main>
