<app-header></app-header>
<div class="section-title">
  <h2 class="dprev">
    Descubra como podemos assegurar os seus direitos previdenciários
  </h2>
  <p>
    Atendemos virtualmente e presencialmente com ética, segurança e rapidez.
  </p>
</div>
<app-card-icons
  [title]="'Direito Previdenciário'"
  [image]="'previdenciario.png'"
></app-card-icons>
<div class="card-explain">
  @for (card of cardsExplain; track $index) {
    <app-card-explain
      title="{{ card.title }}"
      icon="{{ card.icon }}"
      description="{{ card.description }}
      "
    ></app-card-explain>
  }
</div>
<!-- ==================================== carrousel ==================================== -->

@for (card of cardsExplain; track card; let i = $index) {
  @if (selectedIndex === i) {
    <app-carrousel
      [cards]="cardsExplain"
      [showIndicator]="true"
      [showNavigators]="true"
      [(selectedIndex)]="selectedIndex"
      class="carrousel-cards"
    >
      <app-card-explain
        title="{{ card.title }}"
        icon="{{ card.icon }}"
        description="{{ card.description }}"
        carrousel-item
      ></app-card-explain>
    </app-carrousel>
  }
}

<!-- ==================================== carrousel ==================================== -->

<div class="services">
  @for (card of cards; track $index) {
    <app-cards title="{{ card.title }}" [contentList]="card.contentList">
    </app-cards>
  }
</div>
<app-card-icons
  class="about"
  [title]="'Quem Somos'"
  [image]="'gestao.png'"
></app-card-icons>
<app-about></app-about>

<!-- <app-card-icons
  class="contact"
  [title]="'Entre em contato.'"
  [image]="'contate-nos.png'"
></app-card-icons>
<app-contact></app-contact> -->

@if (isVisible) {
  <button class="back-to-top" (click)="scrollToTop()">
    <mat-icon>keyboard_double_arrow_up</mat-icon>
  </button>
}

<router-outlet />
