<body>
  <app-header></app-header>
  <app-latest-news></app-latest-news>
  <h1 style="text-align: center">Atuamos em todas as causas contra o INSS.</h1>
  <div class="content-inss">
    <app-mini-cards [text]="'Auxilio Doença'"></app-mini-cards>
    <app-mini-cards [text]="'Auxilio Acidente'"></app-mini-cards>
    <app-mini-cards [text]="'Aposentadoria por Invalidez'"></app-mini-cards>
    <app-mini-cards
      [text]="'Aposentadoria por Tempo de Contribuição'"
    ></app-mini-cards>
    <app-mini-cards [text]="'Aposentadoria Por idade'"></app-mini-cards>
    <app-mini-cards [text]="'Aposentadoria Rural'"></app-mini-cards>
    <app-mini-cards [text]="'BPC - Loas Auxilio assistencial'"></app-mini-cards>
    <app-mini-cards [text]="'Auxilio Reclusão'"></app-mini-cards>
  </div>
</body>
<router-outlet />
