@import 'src/scss/_global.scss';
section {
  > h2 {
    text-align: center;
    color: $color-button-primary-text;
    font-size: 1.5rem;
    margin: 5px 0;
  }
  > img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100px;
    height: 100px;
  }
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: $color-button-primary-text;
}
.card-explain {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}
.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: $color-button-primary-text;
  bottom: 0;
  left: calc(50% - 20px);
}
