@import 'src/scss/_global.scss';

:host {
  display: block;
  width: 100%;
}
.slides {
  width: 100%;
  height: 650px;
  position: relative;

  .slide {
    width: 100%;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    transition: opacity 0.2s ease-in;
  }
}
.btn-primary {
  position: absolute;
  top: 50%;
  margin-left: 15px;
  margin-right: 15px;
}

.indicators {
  margin-top: 30px;
  width: 100%;
  text-align: center;
  .indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $color-secondary;
    display: inline-block;
    margin: 0 3px;
    cursor: pointer;
    &.active {
      background-color: $color-button-primary-bg;
      transition: 0.5s ease-in-out;
    }
  }
}
button {
  appearance: none;
  border: none;
  background: none;
}
