@import 'src/scss/_global.scss';

:host {
  display: block;
  width: 100%;
}

.slides {
  width: 100%;
  height: auto;
  position: relative;

  .slide {
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    transition:
      transform 0.5s ease-in-out,
      opacity 0.5s ease-in-out;
    transform: translateX(0); // Initial state
    opacity: 1; // Initial state
  }
}

.btn-primary {
  position: absolute;
  top: 30%;
  margin-left: 15px;
  margin-right: 15px;
}

.indicators {
  margin-top: 30px;
  width: 100%;
  text-align: center;

  .indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $color-button-secondary-border;
    display: inline-block;
    margin: 0 3px;
    cursor: pointer;

    &.active {
      background-color: $color-button-primary-bg;
      transition: 0.5s ease-in-out;
    }
  }
}

button {
  appearance: none;
  border: none;
  background: none;
}

@media screen and (min-width: 344px) and (max-width: 375px) {
  .btn-primary {
    padding: 5px;
  }
}

@media screen and (min-width: 376px) and (max-width: 728px) {
  .btn-primary {
    padding: 5px;
  }
}
